<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{% static 'Gastronomia/css/about.css' %}">
</head>
<body>
    <form class= "forms_original" action="" method="post">{% csrf_token %}

        {{form.as_p}}
        
            <button class="btn btn-primary" type="submit">Editar</button>
        
        
    
    </form>
    <div class="boton_about">
        <a class="btn btn-primary" href="{% url 'Home' %}">Volver al Inicio</a>
    </div>
</body>
</html>
