<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Gastronomia/css/about.css' %}">
    <title>About me</title>
</head>
<body>
    {% for resto in object_list %}

    <ul>
        <li>
            <p>Nombre: {{resto.nombre}}, Especialidad: {{resto.especialidad}}, Descripcion: {{resto.breve_descripcion}} id {{resto.id}}</p>
            
            <button>
                <a href="{% url 'Resto Detalle' resto.id %}"> Ver Detalles</a>
            </button>

            {% if request.user.is_authenticated %}
            <button>
                <a href="{% url 'Edit Resto' resto.id %}">Actualizar</a>
            </button>     
            <button>
                <a href="{% url 'Delete Resto' resto.id %}">Eliminar</a>
            </button>  
            {% endif %}             
        </ul>

    {% endfor %}
    <div class="boton_about">
        <a class="btn btn-primary" href="{% url 'Pages' %}">Volver a la pagina anterior</a>
    </div>
</body>
</html>
