<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Gastronomia/css/style.css'%}">
</head>
<body>
    <section>
        <ul>
            <li>Tu username es: {{ user.username }}</li>
            <li>El email con el que estas registarado/a es: {{ user.email }}</li>
            <li>Tu nombre es: {{ user.first_name }}</li>
            <li>Tu apellido es: {{ user.last_name }} </li>
        </ul>
    </section>
</body>
</html>